.body_container {
    margin: 7%;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .auth_container {
        height: 100%;
        display: flex;
        justify-content: center;
        border: 1px solid blueviolet;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .info_container {
            flex: 1;
            color: white;
            background: #0059b3;

            .info_context {
                text-align: center;
                padding: 170px 50px;

                button {
                    color: white;
                    border-color: white;
                    background-color: transparent;
                }
            }
        }

        .form_container {
            flex: 2;

            .form_context {
                display: flex;
                padding: 20px 50px;
                text-align: center;
                align-items: center;
                flex-direction: column;

                h1 {
                    color: #0059b3;
                }

                .signin_methods {
                    gap: 20px;
                    display: flex;
                    padding: 20px 0;

                    button {
                        color: #303030;
                        background: transparent;

                        i {
                            &.bi-google {
                                color: red;
                            }

                            &.bi-facebook {
                                color: #0866ff;
                            }

                            font-size: 16px;
                        }
                    }
                }

                .text {
                    color: #bababa;
                    font-size: 12px;
                }

                .forgotpwd {
                    font-size: 12px;
                    color: #bababa;
                    cursor: pointer;

                    &:hover {
                        color: #0059b3;
                    }

                    padding-top: 20px;
                }

                form {
                    width: 60%;
                    display: flex;
                    flex-direction: column;

                    .error_message {
                        color: red;
                        font-size: 12px;
                        margin-top: -15px;
                        text-align: justify;
                        padding: 0 15px 15px 15px;
                    }

                }

                .submit_btn {
                    width: 25%;
                    color: white;
                    margin-bottom: 20px;
                    border-color: white;
                    background-color: #0059b3;

                    &:disabled {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}