<div class="body_container">
    <div class="auth_container">
        <div class="form_container" [@swapFormContainers]="formState">
            <div class="form_context" *ngIf="viewMode === 0">
                <h1>Sign in to EatLeMa?</h1>

                <div class="signin_methods">
                    <button mat-mini-fab><i class="bi bi-apple"></i></button>
                    <button mat-mini-fab><i class="bi bi-google"></i></button>
                    <button mat-mini-fab><i class="bi bi-facebook"></i></button>
                    <button mat-mini-fab><i class="bi bi-person-fill"></i></button>
                </div>

                <p class="text">OR</p>

                <form [formGroup]="signInForm">
                    <mat-form-field appearance="outline">
                        <mat-label>UID</mat-label>
                        <input matInput type="text" placeholder="Enter your uid" formControlName="uid">
                        
                    </mat-form-field>

                    <div class="error_message" *ngIf="signInForm.get('uid')?.hasError('required') && signInForm.get('uid')?.touched">
                        uid is required.
                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Enter your password" formControlName="password">
                    </mat-form-field>

                    <div class="error_message" *ngIf="signInForm.get('password')?.hasError('required') && signInForm.get('password')?.touched">
                        password is required.
                    </div>
                    <div class="error_message" *ngIf="signInForm.get('password')?.hasError('pattern') || signInForm.get('password')?.touched && signInForm.get('password')?.dirty">
                        password must contains at least 8 characters, and combination of uppercase, lowercase, numbers, and special character.
                    </div>
                </form>

                <p class="forgotpwd"><a><u><i>Forgot your password?</i></u></a></p>

                <button class="submit_btn" mat-stroked-button [disabled]="signInForm.invalid" (click)="general.redirect('home')">SIGN IN</button>
            </div>

            <div class="form_context" *ngIf="viewMode === 1">
                <h1>Create Account</h1>

                <div class="signin_methods">
                    <button mat-mini-fab><i class="bi bi-apple"></i></button>
                    <button mat-mini-fab><i class="bi bi-google"></i></button>
                    <button mat-mini-fab><i class="bi bi-facebook"></i></button>
                    <button mat-mini-fab><i class="bi bi-person-fill"></i></button>
                </div>

                <p class="text">OR</p>

                <form [formGroup]="signUpForm">
                    <mat-form-field appearance="outline">
                        <mat-label>UID</mat-label>
                        <input matInput type="text" placeholder="Enter your uid" formControlName="uid">
                    </mat-form-field>

                    <div class="error_message" *ngIf="signUpForm.get('uid')?.hasError('required') && signUpForm.get('uid')?.touched">
                        uid is required.
                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Enter your password" formControlName="password">
                    </mat-form-field>

                    <div class="error_message" *ngIf="signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched">
                        password is required.
                    </div>
                    <div class="error_message" *ngIf="signUpForm.get('pattern')?.hasError('required') || signUpForm.get('password')?.touched && signUpForm.get('password')?.dirty">
                        password must contains at least 8 characters, and combination of uppercase, lowercase, numbers, and special character.
                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" placeholder="Re-Enter your password" formControlName="confirmpassword">
                    </mat-form-field>

                    <div class="error_message" *ngIf="signUpForm.get('confirmpassword')?.hasError('required') && signUpForm.get('confirmpassword')?.touched">
                        re-enter password is required.
                    </div>
                    <div class="error_message" *ngIf="signUpForm.get('confirmpassword')?.value !== signUpForm.get('password')?.value || signUpForm.get('confirmpassword')?.touched">
                        password does not matched.
                    </div>

                </form>
                <button class="submit_btn" type="submit" mat-stroked-button [disabled]="signUpForm.invalid" (click)="userSignup()">SIGN UP</button>
            </div>
        </div>

        <div class="info_container" [@swapInfoContainers]="infoState">
            <div class="info_context" *ngIf="viewMode === 0">
                <h1>Hello, Friends!</h1>
                <p>Enter your credentials detail and start a journey with us!</p>
                <button mat-stroked-button (click)="swapContainers()">SIGN UP</button>
            </div>

            <div class="info_context" *ngIf="viewMode === 1">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us plese login with your personal info.</p>
                <button mat-stroked-button (click)="swapContainers()">SIGN IN</button>
            </div>
        </div>
    </div>
</div>