<!-- Expansion Panel -->
<div class="geofence-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>

<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Geofence Shape
            </mat-panel-title>
            <!-- <mat-panel-description>
                Type your name and age
            </mat-panel-description> -->
        </mat-expansion-panel-header>

        <div class="expansion_panel_content">
            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-slide-toggle color="primary"></mat-slide-toggle>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Geofence Tolerance
            </mat-panel-title>
            <!-- <mat-panel-description>
                Type your name and age
            </mat-panel-description> -->
        </mat-expansion-panel-header>

        <div class="expansion_panel_content">
            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-slide-toggle color="primary"></mat-slide-toggle>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Geofence Activation
            </mat-panel-title>
            <!-- <mat-panel-description>
                Type the country name
            </mat-panel-description> -->
        </mat-expansion-panel-header>

        <div class="expansion_panel_content">
            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-slide-toggle color="primary"></mat-slide-toggle>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Geolocation Logging Record
            </mat-panel-title>
            <!-- <mat-panel-description>
                Inform the date you wish to travel
            </mat-panel-description> -->
        </mat-expansion-panel-header>

        <div class="expansion_panel_content">
            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-slide-toggle color="primary"></mat-slide-toggle>
        </div>

    </mat-expansion-panel>
</mat-accordion>