.geofence-action-buttons {
    padding: 0 0 15px 0;
}

mat-accordion {
    mat-expansion-panel {
        .expansion_panel_content {
            display: flex;
            align-items: center;
            
            // border: 1px solid red;

            mat-slide-toggle {
                // display: flex;
                right: 0;
                position: absolute;
                transform: translateX(-100%);
                // float: right;
                // justify-content: end;
                // border: 1px solid red;
            }
        }
    }
}