mat-toolbar {
    color: white;
    display: flex;
    align-items: center;
    // border: 1px solid yellow;
    background-color: #0059b3;

    .catalogs {
        flex: 1;
        gap: 20px;
        display: flex;
        padding-right: 10px;
        justify-content: flex-end;
        // border: 1px solid red;

        .material-symbols-outlined {
            cursor: pointer;

            &:hover {
                color: rgb(224, 215, 215);
            }
        }

        // .material-symbols-outlined:nth-child(2) {
        //     &:hover {
        //         color: red;
        //         // background: red;
        //     }
        // }
    }
}

.container {
    display: flex;
    padding: 30px;
    height: 100%;
    border: 1px solid green;
}