<router-outlet>
    <app-drawer *ngIf="general.currentRoute !== ''" [page]="pages">
        <app-profile *ngIf="general.currentRoute === 'profile'"></app-profile>
        <app-setting *ngIf="general.currentRoute === 'setting'"></app-setting>
        <app-history *ngIf="general.currentRoute === 'history'"></app-history>
        <app-manage-user *ngIf="general.currentRoute === 'user'"></app-manage-user>
        <app-dashboard *ngIf="general.currentRoute === 'dashboard'"></app-dashboard>
        <app-geofencing *ngIf="general.currentRoute === 'geofence'"></app-geofencing>
        <app-wheel-conf *ngIf="general.currentRoute === 'wheel_conf'"></app-wheel-conf>
    </app-drawer>
</router-outlet> <!-- To render sub components -->