<div class="body_container">
    <div class="form_container">
        <h2>EatLeMa!</h2>
        
        <form [formGroup]="signInForm">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text" placeholder="Enter your username" formControlName="username">
                <mat-error *ngIf="signInForm.get('username')?.hasError('required')">
                    username is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter your password" formControlName="password">
                <mat-error *ngIf="signInForm.get('password')?.hasError('required') || signInForm.get('uid')?.touched">
                    password is required.
                </mat-error>
                <mat-error *ngIf="signInForm.get('password')?.hasError('pattern') || signInForm.get('password')?.touched || signInForm.get('password')?.dirty">
                    password must contains at least 8 characters, and combination of uppercase, lowercase, numbers, and special character.
                </mat-error>
            </mat-form-field>
        </form>

        <button class="submit_btn" mat-stroked-button [disabled]="signInForm.invalid" (click)="general.redirect('dashboard')">SIGN IN</button>
    </div>
</div>