<mat-toolbar>
    <span>EatLeMa</span>
</mat-toolbar>

<div class="container">
    <div class="lottery">
        <div class="lottery-skin">
            <div class="one">one</div>
            <div class="two">two</div>
            <div class="three">three</div>
            <div class="four">four</div>
            <div class="five">five</div>
            <div class="six">six</div>
        </div>

        <span class="spinner"></span>
        <button>Spin</button>
    </div>

    <div class="restaurant-list">
        <mat-list>
            <mat-list-item>
                <!-- <mat-icon></mat-icon> -->
                <div matListItemTitle>Restaurant</div>
                <div matListItemLine>Address</div>
            </mat-list-item>
        </mat-list>
    </div>
</div>
