<mat-drawer-container class="container">
    <mat-drawer #drawer class="sidenav" mode="side" opened>
        <h2>EatLeMa!</h2>

        <mat-list>
            <a mat-list-item *ngFor="let item of management" (click)="general.redirect(item?.routerLink ?? '')">
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.name }}</span>
            </a>

            <mat-divider></mat-divider>

            <a mat-list-item *ngFor="let item of preference" (click)="general.redirect(item?.routerLink ?? '')">
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.name }}</span>
            </a>
        </mat-list>
    </mat-drawer>

    <div class="main_content">
        <div class="sidenav_toolbar">
            <mat-toolbar>
                <span>{{ page }}</span>
                <span class="material-icons">notifications</span>
            </mat-toolbar>
        </div>

        <div class="sidenav_content">
            <ng-content></ng-content>
        </div>
    </div>
</mat-drawer-container>